#BackButton ,#AddItem{
    position: relative;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    background: transparent;
    border: 1px solid #03e9f4;
    border-radius: 10px;
}
#BackButton{
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    font-size: 12px;
    top:2%;
    left:2%;
}
#AddItem{
    position: absolute;
    float: right;
    bottom:2%;
    right:2%;
}

#BackButton:hover ,#AddItem:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
#PlusButton{
    font-size:large;
}
